.news-container {
  display: flex;
  flex-direction: row;
  position: sticky;
  z-index: 99;
}

.sidebar {
  width: 20%;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  overflow-y: auto;
  height: 100vh;
  font-family: Arial, sans-serif; 
}

.category-item {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px; 
}

.category-item.selected {
  background-color: #007bff; 
  color: #fff;
}

.category-item a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent element */
}

.category-item a:hover {
  color: inherit; /* Inherit color from parent element */
}


.articles-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex: 1;
  overflow-y: auto;
  height: 100vh;
}

.card {
  width: 90%;
  height: 450px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: fit-content;
}

.card h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 10px;
}

.card a {
  text-decoration: none;
  color: #007bff;
}

.card a:hover {
  color: #0056b3;
}

/* Media query for mobile screens */
@media (max-width: 767px) {
  .articles-container {
    grid-template-columns: 1fr;
  }
  .category-item a {
    font-size: 12px;
  }
  .card{
    padding: 5px;
  }
  .sidebar{
    width: 22%;
    padding: 10px;
  }
}